/*************************Tag Selectors*************************/
body{
    background-color: #e8fcfc;
}
img{
    height: 180px;
    width: 180px;
    border-radius: 0px;
    background-color: red;
}
hr{
    border-color:#a1d0db;
    border-style: dotted none none;
    border-width: 5px;
    width: 5%;
    
}
h1{
    color: #66BFBF;
    letter-spacing: 5px;
    word-spacing: 10px;
}
h3{
    color: #66BFBF;
}

/*************************ID Selectors*************************/
#profile-pic{
    border-radius: 100%;
    transition-duration: 300ms;
}
#profile-pic:hover{
    border-radius: 10mm;
    transition-duration: 300ms;
}

